.swiper-container {
    width: 80vw;
}

.swiper-slide {
    background-size: cover;
    background-position: 50%;
    min-height: 80vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}